Connected Services/ReferenciaServicioVenta/IServicIoVenta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFC_Servicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCVenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CVenta" nillable="true" type="tns:CVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCVenta" nillable="true" type="tns:ArrayOfCVenta" />
  <xs:complexType name="CVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGENCOD" type="xs:int" />
      <xs:element minOccurs="0" name="AUTCOD" type="xs:int" />
      <xs:element minOccurs="0" name="GERECOD" type="xs:int" />
      <xs:element minOccurs="0" name="VENCANT" type="xs:int" />
      <xs:element minOccurs="0" name="VENCOD" type="xs:int" />
      <xs:element minOccurs="0" name="VENDES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VENFECH" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VENPRECUNITA" type="xs:double" />
      <xs:element minOccurs="0" name="VENTOTAL" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CVenta" nillable="true" type="tns:CVenta" />
</xs:schema>