Connected Services/ReferenciaServicioVenta/IServicIoVenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IServicIoVenta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63255/IServicIoVenta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63255/IServicIoVenta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63255/IServicIoVenta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIServicIoVenta_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_Venta_InputMessage">
    <wsdl:part name="parameters" element="tns:Venta" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_Venta_OutputMessage">
    <wsdl:part name="parameters" element="tns:VentaResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_VentaPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:VentaPorNombre" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_VentaPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:VentaPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_VentaPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:VentaPorId" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_VentaPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:VentaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_agregarVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarVenta" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_agregarVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_actualizarVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarVenta" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_actualizarVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_eliminarVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarVenta" />
  </wsdl:message>
  <wsdl:message name="IIServicIoVenta_eliminarVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarVentaResponse" />
  </wsdl:message>
  <wsdl:portType name="IIServicIoVenta">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicIoVenta/DoWork" message="tns:IIServicIoVenta_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicIoVenta/DoWorkResponse" message="tns:IIServicIoVenta_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Venta">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicIoVenta/Venta" message="tns:IIServicIoVenta_Venta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicIoVenta/VentaResponse" message="tns:IIServicIoVenta_Venta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VentaPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicIoVenta/VentaPorNombre" message="tns:IIServicIoVenta_VentaPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicIoVenta/VentaPorNombreResponse" message="tns:IIServicIoVenta_VentaPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VentaPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicIoVenta/VentaPorId" message="tns:IIServicIoVenta_VentaPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicIoVenta/VentaPorIdResponse" message="tns:IIServicIoVenta_VentaPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicIoVenta/agregarVenta" message="tns:IIServicIoVenta_agregarVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicIoVenta/agregarVentaResponse" message="tns:IIServicIoVenta_agregarVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicIoVenta/actualizarVenta" message="tns:IIServicIoVenta_actualizarVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicIoVenta/actualizarVentaResponse" message="tns:IIServicIoVenta_actualizarVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicIoVenta/eliminarVenta" message="tns:IIServicIoVenta_eliminarVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicIoVenta/eliminarVentaResponse" message="tns:IIServicIoVenta_eliminarVenta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIServicIoVenta" type="tns:IIServicIoVenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IIServicIoVenta/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Venta">
      <soap:operation soapAction="http://tempuri.org/IIServicIoVenta/Venta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VentaPorNombre">
      <soap:operation soapAction="http://tempuri.org/IIServicIoVenta/VentaPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VentaPorId">
      <soap:operation soapAction="http://tempuri.org/IIServicIoVenta/VentaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarVenta">
      <soap:operation soapAction="http://tempuri.org/IIServicIoVenta/agregarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarVenta">
      <soap:operation soapAction="http://tempuri.org/IIServicIoVenta/actualizarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarVenta">
      <soap:operation soapAction="http://tempuri.org/IIServicIoVenta/eliminarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IServicIoVenta">
    <wsdl:port name="BasicHttpBinding_IIServicIoVenta" binding="tns:BasicHttpBinding_IIServicIoVenta">
      <soap:address location="http://localhost:63255/IServicIoVenta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>