Connected Services/ServicioAgente/IServicioAgente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IServicioAgente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63255/IServicioAgente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63255/IServicioAgente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63255/IServicioAgente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIServicioAgente_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_Agente_InputMessage">
    <wsdl:part name="parameters" element="tns:Agente" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_Agente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgenteResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_AgentePorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:AgentePorNombre" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_AgentePorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgentePorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_AgentePorId_InputMessage">
    <wsdl:part name="parameters" element="tns:AgentePorId" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_AgentePorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgentePorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_agregarAgente_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarAgente" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_agregarAgente_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarAgenteResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_actualizarAgente_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarAgente" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_actualizarAgente_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarAgenteResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_eliminarAgente_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarAgente" />
  </wsdl:message>
  <wsdl:message name="IIServicioAgente_eliminarAgente_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarAgenteResponse" />
  </wsdl:message>
  <wsdl:portType name="IIServicioAgente">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioAgente/DoWork" message="tns:IIServicioAgente_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioAgente/DoWorkResponse" message="tns:IIServicioAgente_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioAgente/Agente" message="tns:IIServicioAgente_Agente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioAgente/AgenteResponse" message="tns:IIServicioAgente_Agente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgentePorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioAgente/AgentePorNombre" message="tns:IIServicioAgente_AgentePorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioAgente/AgentePorNombreResponse" message="tns:IIServicioAgente_AgentePorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgentePorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioAgente/AgentePorId" message="tns:IIServicioAgente_AgentePorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioAgente/AgentePorIdResponse" message="tns:IIServicioAgente_AgentePorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarAgente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioAgente/agregarAgente" message="tns:IIServicioAgente_agregarAgente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioAgente/agregarAgenteResponse" message="tns:IIServicioAgente_agregarAgente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarAgente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioAgente/actualizarAgente" message="tns:IIServicioAgente_actualizarAgente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioAgente/actualizarAgenteResponse" message="tns:IIServicioAgente_actualizarAgente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarAgente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioAgente/eliminarAgente" message="tns:IIServicioAgente_eliminarAgente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioAgente/eliminarAgenteResponse" message="tns:IIServicioAgente_eliminarAgente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIServicioAgente" type="tns:IIServicioAgente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IIServicioAgente/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agente">
      <soap:operation soapAction="http://tempuri.org/IIServicioAgente/Agente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgentePorNombre">
      <soap:operation soapAction="http://tempuri.org/IIServicioAgente/AgentePorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgentePorId">
      <soap:operation soapAction="http://tempuri.org/IIServicioAgente/AgentePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarAgente">
      <soap:operation soapAction="http://tempuri.org/IIServicioAgente/agregarAgente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarAgente">
      <soap:operation soapAction="http://tempuri.org/IIServicioAgente/actualizarAgente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarAgente">
      <soap:operation soapAction="http://tempuri.org/IIServicioAgente/eliminarAgente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IServicioAgente">
    <wsdl:port name="BasicHttpBinding_IIServicioAgente" binding="tns:BasicHttpBinding_IIServicioAgente">
      <soap:address location="http://localhost:63255/IServicioAgente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>