Connected Services/ServicioAgente/IServicioAgente2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63255/IServicioAgente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Agente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WFC_Servicio" minOccurs="0" name="AgenteResult" nillable="true" type="q1:ArrayOfCAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentePorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentePorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WFC_Servicio" minOccurs="0" name="AgentePorNombreResult" nillable="true" type="q2:ArrayOfCAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WFC_Servicio" minOccurs="0" name="AgentePorIdResult" nillable="true" type="q3:CAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WFC_Servicio" minOccurs="0" name="reg" nillable="true" type="q4:CAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarAgenteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WFC_Servicio" minOccurs="0" name="reg" nillable="true" type="q5:CAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarAgenteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarAgenteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>