Connected Services/ServicioAgente/IServicioAgente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFC_Servicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCAgente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAgente" nillable="true" type="tns:CAgente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAgente" nillable="true" type="tns:ArrayOfCAgente" />
  <xs:complexType name="CAgente">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGENAPELL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AGENCOD" type="xs:int" />
      <xs:element minOccurs="0" name="AGENDIREC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AGENNOMB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AGENTELE" type="xs:int" />
      <xs:element minOccurs="0" name="GERECOD" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAgente" nillable="true" type="tns:CAgente" />
</xs:schema>