Connected Services/ReferecniaServicioCliente/IServicioCliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFC_Servicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CCliente" nillable="true" type="tns:CCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCCliente" nillable="true" type="tns:ArrayOfCCliente" />
  <xs:complexType name="CCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLIAPEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLICOD" type="xs:int" />
      <xs:element minOccurs="0" name="CLIDIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLINOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLITELE" type="xs:int" />
      <xs:element minOccurs="0" name="GERECOD" type="xs:int" />
      <xs:element minOccurs="0" name="VENCOD" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CCliente" nillable="true" type="tns:CCliente" />
</xs:schema>