Connected Services/ReferecniaServicioCliente/IServicioCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IServicioCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63255/IServicioCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63255/IServicioCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63255/IServicioCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIServicioCliente_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_Cliente_InputMessage">
    <wsdl:part name="parameters" element="tns:Cliente" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_Cliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_ClientePorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientePorNombre" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_ClientePorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientePorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_ClientePorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientePorId" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_ClientePorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientePorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_agregarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarCliente" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_agregarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_actualizarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarCliente" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_actualizarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_eliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IIServicioCliente_eliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IIServicioCliente">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioCliente/DoWork" message="tns:IIServicioCliente_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioCliente/DoWorkResponse" message="tns:IIServicioCliente_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioCliente/Cliente" message="tns:IIServicioCliente_Cliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioCliente/ClienteResponse" message="tns:IIServicioCliente_Cliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientePorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioCliente/ClientePorNombre" message="tns:IIServicioCliente_ClientePorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioCliente/ClientePorNombreResponse" message="tns:IIServicioCliente_ClientePorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientePorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioCliente/ClientePorId" message="tns:IIServicioCliente_ClientePorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioCliente/ClientePorIdResponse" message="tns:IIServicioCliente_ClientePorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioCliente/agregarCliente" message="tns:IIServicioCliente_agregarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioCliente/agregarClienteResponse" message="tns:IIServicioCliente_agregarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioCliente/actualizarCliente" message="tns:IIServicioCliente_actualizarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioCliente/actualizarClienteResponse" message="tns:IIServicioCliente_actualizarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioCliente/eliminarCliente" message="tns:IIServicioCliente_eliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioCliente/eliminarClienteResponse" message="tns:IIServicioCliente_eliminarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIServicioCliente" type="tns:IIServicioCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IIServicioCliente/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cliente">
      <soap:operation soapAction="http://tempuri.org/IIServicioCliente/Cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientePorNombre">
      <soap:operation soapAction="http://tempuri.org/IIServicioCliente/ClientePorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientePorId">
      <soap:operation soapAction="http://tempuri.org/IIServicioCliente/ClientePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarCliente">
      <soap:operation soapAction="http://tempuri.org/IIServicioCliente/agregarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <soap:operation soapAction="http://tempuri.org/IIServicioCliente/actualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IIServicioCliente/eliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IServicioCliente">
    <wsdl:port name="BasicHttpBinding_IIServicioCliente" binding="tns:BasicHttpBinding_IIServicioCliente">
      <soap:address location="http://localhost:63255/IServicioCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>