Connected Services/ReferenciaServicioPedidos/IServicioPedidos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFC_Servicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPedidos" nillable="true" type="tns:CPedidos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPedidos" nillable="true" type="tns:ArrayOfCPedidos" />
  <xs:complexType name="CPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGENCOD" type="xs:int" />
      <xs:element minOccurs="0" name="GERECOD" type="xs:int" />
      <xs:element minOccurs="0" name="PEDCANTID" type="xs:int" />
      <xs:element minOccurs="0" name="PEDCOD" type="xs:int" />
      <xs:element minOccurs="0" name="PEDDESCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PEDFECH" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PEDPRECIOUNITA" type="xs:double" />
      <xs:element minOccurs="0" name="PEDTOTAL" type="xs:double" />
      <xs:element minOccurs="0" name="PROVCOD" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPedidos" nillable="true" type="tns:CPedidos" />
</xs:schema>