Connected Services/ReferenciaServicioAuto/IServicioAutos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63255/IServicioAutos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Auto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WFC_Servicio" minOccurs="0" name="AutoResult" nillable="true" type="q1:ArrayOfCAuto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WFC_Servicio" minOccurs="0" name="AutoPorNombreResult" nillable="true" type="q2:ArrayOfCAuto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WFC_Servicio" minOccurs="0" name="AutoPorIdResult" nillable="true" type="q3:CAuto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WFC_Servicio" minOccurs="0" name="reg" nillable="true" type="q4:CAuto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarAutoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WFC_Servicio" minOccurs="0" name="reg" nillable="true" type="q5:CAuto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarAutoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarAutoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>