Connected Services/ReferenciaServicioAuto/IServicioAutos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFC_Servicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCAuto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAuto" nillable="true" type="tns:CAuto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAuto" nillable="true" type="tns:ArrayOfCAuto" />
  <xs:complexType name="CAuto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUTCANT" type="xs:int" />
      <xs:element minOccurs="0" name="AUTCOD" type="xs:int" />
      <xs:element minOccurs="0" name="AUTMARC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTMODEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTPRECI" type="xs:double" />
      <xs:element minOccurs="0" name="GERECOD" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAuto" nillable="true" type="tns:CAuto" />
</xs:schema>