Connected Services/ReferenciaServicioProveedores/IServicioProveedores.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFC_Servicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCProveedores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CProveedores" nillable="true" type="tns:CProveedores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCProveedores" nillable="true" type="tns:ArrayOfCProveedores" />
  <xs:complexType name="CProveedores">
    <xs:sequence>
      <xs:element minOccurs="0" name="GERECOD" type="xs:int" />
      <xs:element minOccurs="0" name="PROVAPELL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVCOD" type="xs:int" />
      <xs:element minOccurs="0" name="PROVDIRECC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVNOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROV_TELE" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CProveedores" nillable="true" type="tns:CProveedores" />
</xs:schema>