Connected Services/ReferenciaServicioProveedores/IServicioProveedores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IServicioProveedores" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63255/IServicioProveedores.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63255/IServicioProveedores.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63255/IServicioProveedores.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIServicioProveedores_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_Proveedores_InputMessage">
    <wsdl:part name="parameters" element="tns:Proveedores" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_Proveedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_PorveedoresPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:PorveedoresPorNombre" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_PorveedoresPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:PorveedoresPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_ProveedorPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ProveedorPorId" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_ProveedorPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProveedorPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_agregarPorveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarPorveedor" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_agregarPorveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarPorveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_actualizarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarProveedor" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_actualizarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_eliminarPorveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarPorveedor" />
  </wsdl:message>
  <wsdl:message name="IIServicioProveedores_eliminarPorveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarPorveedorResponse" />
  </wsdl:message>
  <wsdl:portType name="IIServicioProveedores">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioProveedores/DoWork" message="tns:IIServicioProveedores_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioProveedores/DoWorkResponse" message="tns:IIServicioProveedores_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Proveedores">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioProveedores/Proveedores" message="tns:IIServicioProveedores_Proveedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioProveedores/ProveedoresResponse" message="tns:IIServicioProveedores_Proveedores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PorveedoresPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioProveedores/PorveedoresPorNombre" message="tns:IIServicioProveedores_PorveedoresPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioProveedores/PorveedoresPorNombreResponse" message="tns:IIServicioProveedores_PorveedoresPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProveedorPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioProveedores/ProveedorPorId" message="tns:IIServicioProveedores_ProveedorPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioProveedores/ProveedorPorIdResponse" message="tns:IIServicioProveedores_ProveedorPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarPorveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioProveedores/agregarPorveedor" message="tns:IIServicioProveedores_agregarPorveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioProveedores/agregarPorveedorResponse" message="tns:IIServicioProveedores_agregarPorveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioProveedores/actualizarProveedor" message="tns:IIServicioProveedores_actualizarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioProveedores/actualizarProveedorResponse" message="tns:IIServicioProveedores_actualizarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarPorveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioProveedores/eliminarPorveedor" message="tns:IIServicioProveedores_eliminarPorveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioProveedores/eliminarPorveedorResponse" message="tns:IIServicioProveedores_eliminarPorveedor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIServicioProveedores" type="tns:IIServicioProveedores">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IIServicioProveedores/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proveedores">
      <soap:operation soapAction="http://tempuri.org/IIServicioProveedores/Proveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PorveedoresPorNombre">
      <soap:operation soapAction="http://tempuri.org/IIServicioProveedores/PorveedoresPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProveedorPorId">
      <soap:operation soapAction="http://tempuri.org/IIServicioProveedores/ProveedorPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarPorveedor">
      <soap:operation soapAction="http://tempuri.org/IIServicioProveedores/agregarPorveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarProveedor">
      <soap:operation soapAction="http://tempuri.org/IIServicioProveedores/actualizarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPorveedor">
      <soap:operation soapAction="http://tempuri.org/IIServicioProveedores/eliminarPorveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IServicioProveedores">
    <wsdl:port name="BasicHttpBinding_IIServicioProveedores" binding="tns:BasicHttpBinding_IIServicioProveedores">
      <soap:address location="http://localhost:63255/IServicioProveedores.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>