Connected Services/ReferenciaServicioGerente/IServicioGerente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IServicioGerente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63255/IServicioGerente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63255/IServicioGerente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63255/IServicioGerente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WFC_Servicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIServicioGerente_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_Gerente_InputMessage">
    <wsdl:part name="parameters" element="tns:Gerente" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_Gerente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerenteResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_GerentePorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:GerentePorNombre" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_GerentePorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerentePorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_GerentePorId_InputMessage">
    <wsdl:part name="parameters" element="tns:GerentePorId" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_GerentePorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerentePorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_agregarGerente_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarGerente" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_agregarGerente_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarGerenteResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_actualizarGerente_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarGerente" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_actualizarGerente_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarGerenteResponse" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_eleiminarGerente_InputMessage">
    <wsdl:part name="parameters" element="tns:eleiminarGerente" />
  </wsdl:message>
  <wsdl:message name="IIServicioGerente_eleiminarGerente_OutputMessage">
    <wsdl:part name="parameters" element="tns:eleiminarGerenteResponse" />
  </wsdl:message>
  <wsdl:portType name="IIServicioGerente">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioGerente/DoWork" message="tns:IIServicioGerente_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioGerente/DoWorkResponse" message="tns:IIServicioGerente_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gerente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioGerente/Gerente" message="tns:IIServicioGerente_Gerente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioGerente/GerenteResponse" message="tns:IIServicioGerente_Gerente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerentePorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioGerente/GerentePorNombre" message="tns:IIServicioGerente_GerentePorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioGerente/GerentePorNombreResponse" message="tns:IIServicioGerente_GerentePorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerentePorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioGerente/GerentePorId" message="tns:IIServicioGerente_GerentePorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioGerente/GerentePorIdResponse" message="tns:IIServicioGerente_GerentePorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarGerente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioGerente/agregarGerente" message="tns:IIServicioGerente_agregarGerente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioGerente/agregarGerenteResponse" message="tns:IIServicioGerente_agregarGerente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarGerente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioGerente/actualizarGerente" message="tns:IIServicioGerente_actualizarGerente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioGerente/actualizarGerenteResponse" message="tns:IIServicioGerente_actualizarGerente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eleiminarGerente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIServicioGerente/eleiminarGerente" message="tns:IIServicioGerente_eleiminarGerente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIServicioGerente/eleiminarGerenteResponse" message="tns:IIServicioGerente_eleiminarGerente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIServicioGerente" type="tns:IIServicioGerente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IIServicioGerente/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gerente">
      <soap:operation soapAction="http://tempuri.org/IIServicioGerente/Gerente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerentePorNombre">
      <soap:operation soapAction="http://tempuri.org/IIServicioGerente/GerentePorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerentePorId">
      <soap:operation soapAction="http://tempuri.org/IIServicioGerente/GerentePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarGerente">
      <soap:operation soapAction="http://tempuri.org/IIServicioGerente/agregarGerente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarGerente">
      <soap:operation soapAction="http://tempuri.org/IIServicioGerente/actualizarGerente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eleiminarGerente">
      <soap:operation soapAction="http://tempuri.org/IIServicioGerente/eleiminarGerente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IServicioGerente">
    <wsdl:port name="BasicHttpBinding_IIServicioGerente" binding="tns:BasicHttpBinding_IIServicioGerente">
      <soap:address location="http://localhost:63255/IServicioGerente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>